<% include ../../partials/header %>
<h2>Users <a class="btn btn-primary btn-primary" href="/cards/new">NEW</a></h2>
<table class="table">
<table>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">kills</th>
        </tr>
    </thead>
</table>
