<% include ../../partials/header %>
<h2>Users <a class="btn btn-primary btn-primary" href="/users/new">NEW</a></h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">USERNAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">OPERATIONS</th>
    </tr>
    </thead>
    <tbody>
    <% users.forEach((user)=>{ %>
        <tr>
            <td scope="row"><%= user._id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td>
                <form method="POST" action="/users/<%= user._id %>?_method=DELETE">
                    <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                </form>
                <a class="btn btn-primary btn-sm" href="">Edit</a>
            </td>
        </tr>
    <% }); %>

    </tbody>
</table>


<% include ../../partials/footer %>
